* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://images.unsplash.com/photo-1538645731800-4640c639bba7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHdhbGx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
}



/* HEADER CSS */
.header {
    width: 100%;
    height: 5vh;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHdvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
}

.heading {
    color: burlywood;
    font-size: xx-large;
    font-weight: 600;
    font-family: "Monaco", monospace;
}

.quotes {
    color: burlywood;
    font-size: xx-large;
}






/* CONTAINER CSS */
.container {
    width: fit-content;
    height: fit-content;
    margin: 7vh auto 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
}

.container .form {
    color: rgb(160, 77, 17);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-heading {
    font-size: 36px;
    font-family: "Monaco", monospace;
}

.form-group {
    margin: 10px;
}

.form p {
    margin-top: 10px;
    margin-bottom: 30px;
}

.form a {
    color: rgb(210, 132, 31);
    transition: 0.2s ease-in-out;
}

.form a:hover {
    color: rgb(139, 63, 12);
}

.login-button,
.signup-button,
.add-button{
    transition: 0.2s ease-in-out;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: rgb(160, 77, 17);
    border: none;
    border-radius: 10px;
}

.login-button:hover,
.signup-button:hover,
.add-button:hover,
.edit:hover,
.delete:hover {
    background-color: rgb(61, 42, 6);
    color: rgb(232, 215, 194);
    cursor: pointer;
    transform: translate(0px, 2px);
}

.form .input {
    width: fit-content;
    padding: 0 10px;
    height: 2em;
    border: none;
    border-radius: 10px;
    text-align: center;
}






/* FOOTER CSS */
.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background: linear-gradient(90deg,  rgb(61, 42, 6), rgb(166, 98, 20)); */
    background-image: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHdvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-repeat: repeat;
}

.description {
    margin: 20px 0;
    color: burlywood;
    font-size: large;
}

.social_links {
    margin: 20px 0;
}

.socials {
    color: burlywood;
    font-size: xx-large;
    transition: 0.2s ease-in-out;
}

.socials:hover {
    color: rgb(61, 42, 6);
    cursor: pointer;
    transform: translate(0px, 2px);
}

.social_links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
}

.link p {
    font-size: small;
    color: burlywood;
    display: none;
}

.screen-end {
    position: absolute;
    bottom: 0;
    width: 100%;
}






/* NAVBAR CSS */
.navbar {
    width: 100%;
    height: 8vh;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-items {
    margin: 10px 15px;
    font-family: "Monaco", monospace;
}

.greeting {
    font-size: 20px;
}

.logout-icon {
    padding: 8px 15px;
    background-color: white;
    font-weight: bold;
    color: red;
    border: none;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.logout-icon:hover {
    background-color: red;
    color: white;
    transform: translate(3px, 0);
    cursor: pointer;
}


/* NOTE SECTION CSS */
.add-button {
    margin-bottom: 0;
}

#note-content,
#note-content-edit{
    resize: none;
    width: fit-content;
    padding: 0 10px;
    height: 8em;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.note-container {
    margin-top: 5vh;
}

#note-form {
    padding: 20px;
}

.note-page {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 71.5vh;
}

/* MESSAGE LINE */
.success {
    color: green;
}

.error {
    color: red;
}


/* NOTE DISPLAY */
.note-display {
    width: 60%;
    margin-top: 5vh;
}

.note-display h1 {
    color: rgb(160, 77, 17);
}

.search-form input {
    font-size: 16px;
    width: 80%;
    text-align: center;
    padding: 0 10px;
    height: 3em;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.search-box {
    padding: 20px;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
}

.search-button {
    margin-left: 15px;
    padding: 5px 15px;
    border-radius: 10px;
    color: rgb(160, 77, 17);
    background-color: white;
    border: none;
    transition: 0.2s ease-in-out;
    -webkit-text-stroke: 1px;
}

.search-button:hover {
    background-color: rgb(160, 77, 17);
    color: white;
    transform: translate(-2px, 0);
    cursor: pointer;
}

.notes-table {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.notes-table td,
.notes-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.notes-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.notes-table tr:hover {
    background-color: #ddd;
}

.notes-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin: auto;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: burlywood;
    margin: 5vh auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 20px;
    width:fit-content; /* Could be more or less, depending on screen size */
  }
  .edit-button-group{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #edit{
    text-align: center;
  }
.actions{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.edit,
.delete{
    transition: 0.2s ease-in-out;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 300;
    color: white;
    background-color: rgb(160, 77, 17);
    border: none;
    border-radius: 5px;
} 
.delete{
    margin-left: 10px;
}

@media only screen and (max-width: 900px) {
    .display-content,.display-date{
        display: none;
    }
}